@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* .body {
    margin: 0px;
    padding: 0px;
} */

.btn-primary {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    padding: 17px 24px 17px 24px;
    cursor: pointer;
}

.secondary-bg {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin-top: 100px;
}


/* Nav */

.nav-title {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.nav-title {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
}

/* Banner Style */
#banner {
    height: 615px;
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;

}

#banner .banner-content {
    width: 685px;
}

#banner .banner-content .subtitle {
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 30px;
    font-weight: bolder;
    line-height: 35px;
    text-align: center;

}

#banner .banner-content .title {
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
}

#banner .banner-content .banner-pic {
    justify-content: center;
    margin-left: 220px;
    margin-top: 26px;
}

.btn {
    padding: 21px 24px 21px 24px;
    color: rgb(255, 255, 255);
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    background: rgb(13, 19, 33);
}

.btn-container {
    text-align: center;
}

/* Why web dev */

/* .color {
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    background: white;
    border-radius: 15px;
} */

.section-title {
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 22px;
    font-weight: 800;
    line-height: 18px;
    text-align: center;
    padding: 40px 0px 0px 0px;
}

.section-description {
    padding: 20px 0px 0px 0px;
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    text-align: center;
    opacity: 0.7;
    position: static;

}


.about {
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    margin-bottom: 15px;
}

.about-2 {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}



.about-title {
    color: rgba(13, 19, 33, 0.7);
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;

}

.about-description {
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
}

.about-btn {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px 12px 20px;
    display: flex;
    align-items: center;
    position: static;
    justify-content: center;
    width: 150px;
    height: 48px;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.about-head {
    display: flex;
    justify-content: space-around;
    padding-top: 38px;
    margin-bottom: 10px;

}

/* My inspiration */
.inspiration {
    margin-top: 100px;
}

.inspi {
    margin-bottom: 40px;
}

.inspi-title {
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;

}

.inspi-description {
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    opacity: 0.7;
}


.youtube {
    border-radius: 16px;
    position: static;
    width: 1076px;
    height: 550px;
    align-self: stretch;
    margin: 0px 184px 50px 400px;
}

/* My current target */

.target-title {
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
}

.target-description {
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    opacity: 0.7;
}


/* Target Cards */
.card {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-family: "Azeret Mono", monospace;
    padding: 40px;
    width: 1300px;
    margin-left: 220px;
}

.card-sector-1 {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;
}

.card-sector-2 {
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    padding: 40px;
}

.card-sector-3 {
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    padding: 40px;
}

.card-title {
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: 800;
    line-height: 18px;
    text-align: left;
}

.card-description {
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    text-align: left;
}

.learn {
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    text-decoration-line: underline;
}


/* Next target */
.next-title {
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
}

.next-description {
    font-family: "Azeret Mono", monospace;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    opacity: 0.7;
}

.next-box {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    padding: 30px;
    margin: 20px 150px 20px 150px;
}

.next-img {
    width: 9.5%;
    margin: 10px 20px 10px 20px;
}

.next-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    margin: 16px 0px;
}

.next-title-2 {
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    font-weight: 800;
    line-height: 36px;
    text-align: left;
}

.next-description-2 {
    font-family: "Azeret Mono", monospace;
    color: rgb(13, 19, 33);
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    text-align: left;
}

.next-anchor {
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 13px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    text-decoration-line: underline;
}